<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Validando funcionalidades">
    <classes>
      <class name="suitetest.SearchSuiteTest"/>
      <class name="suitetest.CartSuiteTest"/>
      <class name="suitetest.SignIn_RegisterSuiteTest"/>
    </classes>
  </test>
  
</suite> 
